@using System.Net
@model TrendViewModel
@{
    ViewData["Title"] = $"Trend: {Model.Term}";
}

@if (Model.MaxCount == 0)
{
    <h3>No data in series</h3>
    <p>There were no stories containing the term '@Model.Term' in the data series.</p>
}
else
{
    <h3>Data for '@Model.Term'</h3>
    <div class="remark">Search term is case insensitive.</div>
    <p>This shows the count of stories posted to Hacker News featuring the search term in the title by <span id="period">Day</span>.</p>
    <p>The data is not updated in real time. Currently the data runs between <em>@Model.From.ToShortDateString()</em> and <em>@Model.To.ToShortDateString()</em>.</p>

    <input id="data-load" type="hidden" asp-for="Data" />

    <label for="period-selector" style="display: inline-block; margin-right: 25px;">
        Group Data By:
        <select id="period-selector" onchange="periodSelectorChanged()" style="width: 200px; margin-left: 25px; height: 36px;">
            <option label="Day">Day</option>
            <option label="Week">Week</option>
            <option label="Month" selected>Month</option>
        </select>
    </label>

    <button type="button" id="percent" onclick="togglePercent()">Display as % of stories</button>

    <label for="skiplast" id="skiplastlabel" class="setting-checkbox-label" title="Do not show data for incomplete period (month, week, etc).">
        Ignore incomplete period:
        <input type="checkbox" name="skiplast" id="skiplast" value="true" />
    </label>

    <div id="plot"></div>
    
    <div id="add-term-container">
        <label for="text">Add another trend:</label>
        <input name="text" type="text" id="text" title="Add another search term to compare trends"/>
        <button id="add-term" type="button" title="Add this search term to the plot">Add</button>
        <span id="loading" style="display: none">Loading...</span>
        <label for="allwords" class="setting-checkbox-label" id="allwords-label" title="Title must contain all words.">
            Search result must match all words:
            <input type="checkbox" name="allwords" id="allwords" value="true" checked/>
        </label>
    </div>

    <div id="terms-list">
        <p>View raw data for your terms:</p>
        <ul id="terms-list-list">
            <li>
                <a href="/api/results/@WebUtility.UrlEncode(Model.Term)" target="_blank">@Model.Term</a>
            </li>
        </ul>
    </div>
}


@section Scripts {
    <script src="~/js/trends.min.js" asp-append-version="true"></script>
}